body {
  margin: 0;
}

.header {
  text-align: center;
  padding: 48px 0;
  height: unset;
  background-color: #4096ff;

  h1 {
    color: #fff;
    margin: 0;
  }
}

.content {
  height: calc(100vh - 142px);

  .list {
    padding: 12px;
  }
}
